body{
    /* display: grid; */
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;      
    }

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

#grid-container {
    display: grid;
    gap: 5rem 10rem;
    
}
main:nth-child() {
    
}

li {
    list-style: none;
}

footer {
    display: flex;
    background-color: bisque;
    justify-content: flex-start;
    align-items: baseline;
}
.header-global, main {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline; */
    
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 20rem;
  }

/* main {
    display: flex;
    flex-direction: column;
} */

.process-purchase, .process-create-profile{
    background-color: green;
}

#create-profile {
    background-color: aliceblue;
}

#profile-picture{
    clip-path: circle(50% at 50% 50%);
    max-width: 4rem;

}

ABC Diatype, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;


Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, 
Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;